* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

@font-face {
  font-family: "sonderregular";
  src: url("fonts/sonderregular-webfont.woff2") format("woff2"), url("fonts/sonderregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.forsidebaggrund {
  background-image: url(img/forside.svg);
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

.portfoliobaggrund {
  background-image: url(img/portfolio.svg);
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

body {
  background-color: #fffcf6;
}

* {
  box-sizing: border-box;
}

body,
.forsidebaggrund,
.portfoliobaggrund {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.forsidebaggrund .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 500px;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 35px;
  font-family: "sonderregular";
  padding-top: 80px;
  padding-bottom: 50px;
}

.navbar-links li a:hover {
  color: #b793ff;
}

.toggle-button {
  position: absolute;
  top: 30px;
  left: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 50px;
}

.toggle-button .bar {
  height: 6px;
  width: 100%;
  background-color: black;
  border-radius: 75px;
}

@media (max-width: 1300px) {
  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .navbar {
    background-color: #b793ff;
    border-bottom-right-radius: 25%;
    width: 40%;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li a {
    color: white;
  }
  .navbar-links li a:hover {
    color: black;
  }

  /*FORSIDE*/

  .forsidetop {
    padding-left: 500px;
    padding-top: 430px;
    position: relative;
  }

  .forsidetop h1 {
    font-family: "sonderregular";
    font-size: 130px;
    color: #b793ff;
  }

  .forsidetop h2 {
    font-family: "sonderregular";
    font-size: 50px;
    color: #b793ff;
    padding-left: 300px;
    padding-top: 60px;
  }

  /*PORTFOLIO*/

  .portfoliotema {
    text-align: center;
    padding-top: 90px;
  }

  .portfoliotema a {
    font-family: "sonderregular";
    font-size: 110px;
    color: #b793ff;
    text-decoration: none;
  }

  .portfoliotema a:hover {
    color: #ffd2f6;
  }

  .portfoliotema h2 {
    font-family: "livvic";
    font-size: 40px;
    color: #b793ff;
    padding-bottom: 85px;
  }

  /*OM MIG*/

  .ommigtop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
  }

  .ommigbillede img {
    width: 900px;
    height: 600px;
    object-fit: cover;
    border-radius: 50px;
  }

  .ommigtoptekst {
    background-color: #ffecbb;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
    margin-bottom: 100px;
  }

  .ommigtoptekst h2 {
    font-family: "sonderregular";
    font-size: 70px;
    margin-bottom: 30px;
  }

  .ommigtoptekst p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .cv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .cvoverskift {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .cvoverskift h2 {
    font-family: "sonderregular";
    font-size: 100px;
    text-align: center;
  }

  .cvskills {
    background-color: #ffd2f6;
    width: 700px;
    border-radius: 50px;
    padding: 50px;
  }

  .cvskills h3 {
    font-family: "sonderregular";
    font-size: 60px;
    margin-bottom: 40px;
  }
  .cvskills ul {
    list-style: none;
    font-family: "livvic";
    font-size: 25px;
    margin-bottom: 60px;
    line-height: 1.5;
  }

  .hvemerjeg {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .hvemerjeg h3 {
    font-family: "sonderregular";
    font-size: 60px;
    margin-bottom: 40px;
  }

  .hvemerjeg p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .erfaring {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .erfaring h3 {
    font-family: "sonderregular";
    font-size: 60px;
    margin-bottom: 40px;
  }

  .erfaring p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .uddannelse {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .uddannelse h3 {
    font-family: "sonderregular";
    font-size: 60px;
    margin-bottom: 40px;
  }

  .uddannelse p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  /*TEMA 2*/

  .tema2top {
    text-align: center;
    margin-top: 100px;
  }

  .tema2tekst h1 {
    font-family: "sonderregular";
    font-size: 60px;
    font-size: 130px;
    color: #b793ff;
    margin-bottom: 50px;
  }
  .tema2tekst p {
    font-family: "livvic";
    font-size: 40px;
    color: #b793ff;
    margin-bottom: 100px;
  }

  .tema2top a {
    text-decoration: none;
    font-family: "sonderregular";
    font-size: 40px;
    background-color: #b793ff;
    color: white;
    border-radius: 75px;
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 80px;
  }

  .tema2top a:hover {
    color: black;
  }

  .tema2billede img {
    width: 1000px;
    margin-top: 100px;
    border-radius: 100px;
    margin-bottom: 50px;
  }

  .html,
  .css {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .htmlheader {
    background-color: #d8ffd9;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .htmlheader h2 {
    font-family: "sonderregular";
    font-size: 100px;
    text-align: center;
  }

  .htmltekst {
    background-color: #d8ffd9;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .htmltekst p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .htmlbillede2 img {
    border-radius: 50px;
    width: 1000px;
  }

  .cssheader {
    background-color: #d8ffd9;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .cssheader h2 {
    font-family: "sonderregular";
    font-size: 100px;
    text-align: center;
  }

  .csstekst {
    background-color: #d8ffd9;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .csstekst p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .cssbillede img {
    width: 1000px;
    border-radius: 50px;
  }

  /*TEMA 3*/
  .tema3top {
    text-align: center;
    margin-top: 100px;
  }

  .tema3tekst h1 {
    font-family: "sonderregular";
    font-size: 60px;
    font-size: 130px;
    color: #b793ff;
    margin-bottom: 50px;
  }
  .tema3tekst p {
    font-family: "livvic";
    font-size: 40px;
    color: #b793ff;
    margin-bottom: 100px;
  }

  .tema3top a {
    text-decoration: none;
    font-family: "sonderregular";
    font-size: 40px;
    background-color: #b793ff;
    color: white;
    border-radius: 75px;
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 80px;
  }

  .tema3top a:hover {
    color: black;
  }

  .tema3billede img {
    width: 1000px;
    margin-top: 100px;
    border-radius: 50px;
    margin-bottom: 50px;
  }

  .t3research,
  .t3kodning,
  .t3test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .t3header {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
    margin-top: 80px;
  }

  .t3header h2 {
    font-family: "sonderregular";
    font-size: 100px;
    text-align: center;
  }

  .researchtekst1,
  .researchtekst2,
  .researchtekst3,
  .reviewtekst,
  .processtekst,
  .takside,
  .kodetekst1,
  .kodetekst2,
  .kodetekst3,
  .testtekst1 {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .t3research img {
    border-radius: 50px;
    width: 1000px;
  }

  .t3research p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .t3kodning img {
    border-radius: 50px;
    width: 1000px;
  }

  .t3kodning p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .t3test img {
    border-radius: 50px;
    width: 1000px;
  }

  .t3test p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .testknapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
  }

  .testknapper a {
    text-decoration: none;
    font-family: "sonderregular";
    font-size: 30px;
    background-color: #ffd2f6;
    color: black;
    border-radius: 75px;
    padding-top: 30px;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-left: 70px;
  }

  .testknapper a:hover {
    color: #b793ff;
  }

  /*TEMA 4*/

  .tema4top {
    text-align: center;
    margin-top: 100px;
  }

  .tema4tekst h1 {
    font-family: "sonderregular";
    font-size: 60px;
    font-size: 130px;
    color: #b793ff;
    margin-bottom: 50px;
  }
  .tema4tekst p {
    font-family: "livvic";
    font-size: 40px;
    color: #b793ff;
    margin-bottom: 100px;
  }

  .tema4top a {
    text-decoration: none;
    font-family: "sonderregular";
    font-size: 40px;
    background-color: #b793ff;
    color: white;
    border-radius: 75px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  .tema4top a:hover {
    color: black;
  }

  .topknapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .tema4billede img {
    width: 1000px;
    margin-top: 100px;
    border-radius: 50px;
    margin-bottom: 50px;
  }

  .t4skitser1,
  .t4skitser2,
  .t4illustrationer1,
  .t4illustrationer2,
  .t4kodningtekst {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
    margin-left: 50px;
  }

  .t4illustrationer1 p {
    padding-bottom: 80px;
  }

  .t4illustrationer1 a {
    text-decoration: none;
    font-family: "sonderregular";
    font-size: 30px;
    background-color: #fffcf6;
    color: black;
    border-radius: 75px;
    padding-top: 30px;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-left: 70px;
    margin-left: 190px;
  }

  .t4illustrationer1 a:hover {
    color: #ffd2f6;
  }

  .t4indhold p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .t4indhold img {
    border-radius: 50px;
    width: 1000px;
  }

  .t4indhold {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .t4header {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
    margin-top: 80px;
    margin-left: 50px;
  }

  .t4indhold h2 {
    font-family: "sonderregular";
    font-size: 100px;
    text-align: center;
  }

  .spilelementer {
    display: flex;
    gap: 100px;
  }

  @keyframes pulse {
    0% {
      scale: 1;
    }
    50% {
      scale: 1.1;
    }
    100% {
      scale: 1;
    }
  }

  @keyframes drej {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .play_knap {
    width: 80%;
    position: relative;
    aspect-ratio: 79/29;
    background-image: url(img/t4play.svg);
    background-size: cover;
    cursor: pointer;
    animation: pulse 1.5s infinite;
    margin-left: 110px;
  }

  #truffle_container {
    width: 30%;
    aspect-ratio: 4/5;
    position: relative;
    top: 15%;
    animation: drej 2s infinite;
  }
  #truffle_sprite {
    width: 100%;
    height: 100%;
    background-image: url(img/t4truffle.svg);
    background-size: cover;
  }

  #poop_container {
    width: 30%;
    aspect-ratio: 4/5;
    position: relative;
    top: 15%;
    animation: drej 2s infinite;
  }
  #poop_sprite {
    width: 100%;
    height: 100%;
    background-image: url(img/t4poop.svg);
    background-size: cover;
  }

  #stone_container {
    width: 30%;
    aspect-ratio: 4/5;
    position: relative;
    top: 15%;
    animation: drej 2s infinite;
  }
  #stone_sprite {
    width: 100%;
    height: 100%;
    background-image: url(img/t4stone.svg);
    background-size: cover;
  }

  /*TEMA 5*/
  .tema5top {
    text-align: center;
    margin-top: 100px;
  }

  .tema5tekst h1 {
    font-family: "sonderregular";
    font-size: 60px;
    font-size: 130px;
    color: #b793ff;
    margin-bottom: 50px;
  }
  .tema5tekst p {
    font-family: "livvic";
    font-size: 40px;
    color: #b793ff;
    margin-bottom: 100px;
  }

  .tema5top a {
    text-decoration: none;
    font-family: "sonderregular";
    font-size: 40px;
    background-color: #b793ff;
    color: white;
    border-radius: 75px;
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 80px;
  }

  .tema5top a:hover {
    color: black;
  }

  .topknapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
    max-width: 600px;
    margin-left: 200px;
  }

  .tema5billede img {
    width: 1000px;
    margin-top: 100px;
    border-radius: 50px;
    margin-bottom: 50px;
  }

  .t5indhold {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .t5indhold p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .t5indhold img {
    border-radius: 50px;
    width: 1000px;
  }

  .videositetekst1,
  .videositetekst2,
  .virksomhedgammel,
  .virksomhedny1,
  .virksomhedny2,
  .virksomhedny3,
  .virksomhedny4,
  .virksomhedny5,
  .virksomhedny6,
  .virksomhedny7,
  .virksomhedny8,
  .virksomhedny9 {
    background-color: #fffad5;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .t5header {
    background-color: #fffad5;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
    margin-top: 80px;
  }

  .t5header h2 {
    font-family: "sonderregular";
    font-size: 100px;
    text-align: center;
  }

  .t5knapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
  }

  .t5knapper a {
    text-decoration: none;
    font-family: "sonderregular";
    font-size: 30px;
    background-color: #fffad5;
    color: black;
    border-radius: 75px;
    padding-top: 30px;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-left: 70px;
  }

  .t5knapper a:hover {
    color: #b793ff;
  }

  iframe {
    aspect-ratio: 16/9;
    width: 1000px;
    height: auto;
    border-radius: 50px;
  }

  video {
    max-width: 1000px;
    height: auto;
    border-radius: 50px;
  }

  .videositebilleder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .videositebilleder img {
    width: 450px;
    height: 450px;
    object-fit: cover;
  }

  .billederbageri {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .billederbageri img {
    width: 450px;
    height: 450px;
    object-fit: cover;
  }

  /*FOOTER*/

  footer {
    background-color: #b793ff;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 150px;
    margin-top: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }

  .footermenu {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 200px;
  }

  footer a {
    text-decoration: none;
    color: white;
    font-family: "sonderregular";
    font-size: 30px;
    gap: 100px;
  }

  footer a:hover {
    color: black;
  }

  .somelinks {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}

@media (min-width: 1300px) {
  /*FORSIDE*/

  .forsidetop {
    padding-left: 800px;
    padding-top: 350px;
  }

  .forsidetop h1 {
    font-family: "sonderregular";
    font-size: 220px;
    color: #b793ff;
    min-width: 2000px;
  }

  .forsidetop h2 {
    font-family: "sonderregular";
    font-size: 70px;
    color: #b793ff;
    padding-left: 800px;
    padding-top: 60px;
    min-width: 2000px;
  }

  /*PORTFOLIO*/

  .portfoliotema {
    display: grid;
    grid-template-columns: 900px 900px;
    text-align: center;
    padding-top: 170px;
    gap: 100px;
    padding-left: 450px;
  }

  .portfoliotema a {
    font-family: "sonderregular";
    font-size: 170px;
    color: #b793ff;
    text-decoration: none;
  }

  .portfoliotema a:hover {
    color: #ffd2f6;
  }

  .portfoliotema h2 {
    font-family: "livvic";
    font-size: 50px;
    color: #b793ff;
    padding-bottom: 85px;
  }

  footer {
    background-color: #b793ff;
    padding-top: 180px;
    text-align: center;
    padding-bottom: 180px;
    margin-top: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }

  .footermenu {
    margin-bottom: 180px;
    display: flex;
    justify-content: center;
    gap: 500px;
  }

  footer a {
    text-decoration: none;
    color: white;
    font-family: "sonderregular";
    font-size: 40px;
    gap: 100px;
  }

  footer a:hover {
    color: black;
  }

  .somelinks {
    display: flex;
    justify-content: center;
    gap: 200px;
  }

  .somelinks img {
    width: 90px;
  }
}
