* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

@font-face {
  font-family: "sonderregular";
  src: url("fonts/sonderregular-webfont.woff2") format("woff2"), url("fonts/sonderregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.forsidebaggrund {
  background-image: url(img/forside.svg);
  background-size: cover;
  height: 100vh;
  max-width: 1200px;
}

.portfoliobaggrund {
  background-image: url(img/portfolio.svg);
  background-size: cover;
  height: 100vh;
}

body {
  background-color: #fffcf6;
}

@media (max-width: 1300px) {
  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  /*FORSIDE*/

  .forsidetop {
    padding-left: 500px;
    padding-top: 430px;
  }

  .forsidetop h1 {
    font-family: "sonderregular";
    font-size: 130px;
    color: #b793ff;
  }

  .forsidetop h2 {
    font-family: "sonderregular";
    font-size: 50px;
    color: #b793ff;
    padding-left: 300px;
    padding-top: 60px;
  }

  /*PORTFOLIO*/

  .portfoliotema {
    text-align: center;
    padding-top: 130px;
  }

  .portfoliotema a {
    font-family: "sonderregular";
    font-size: 110px;
    color: #b793ff;
    text-decoration: none;
  }

  .portfoliotema a:hover {
    color: #ffd2f6;
  }

  .portfoliotema h2 {
    font-family: "livvic";
    font-size: 40px;
    color: #b793ff;
    padding-bottom: 85px;
  }

  /*OM MIG*/

  .ommigtop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .ommigbillede img {
    width: 900px;
    height: 600px;
    object-fit: cover;
    border-radius: 50px;
  }

  .ommigtoptekst {
    background-color: #ffecbb;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
    margin-bottom: 100px;
  }

  .ommigtoptekst h2 {
    font-family: "sonderregular";
    font-size: 70px;
    margin-bottom: 30px;
  }

  .ommigtoptekst p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .cv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .cvoverskift {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .cvoverskift h2 {
    font-family: "sonderregular";
    font-size: 100px;
    text-align: center;
  }

  .cvskills {
    background-color: #ffd2f6;
    width: 700px;
    border-radius: 50px;
    padding: 50px;
  }

  .cvskills h3 {
    font-family: "sonderregular";
    font-size: 60px;
    margin-bottom: 40px;
  }
  .cvskills ul {
    list-style: none;
    font-family: "livvic";
    font-size: 25px;
    margin-bottom: 60px;
    line-height: 1.5;
  }

  .hvemerjeg {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .hvemerjeg h3 {
    font-family: "sonderregular";
    font-size: 60px;
    margin-bottom: 40px;
  }

  .hvemerjeg p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .erfaring {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .erfaring h3 {
    font-family: "sonderregular";
    font-size: 60px;
    margin-bottom: 40px;
  }

  .erfaring p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .uddannelse {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .uddannelse h3 {
    font-family: "sonderregular";
    font-size: 60px;
    margin-bottom: 40px;
  }

  .uddannelse p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  /*TEMA 2*/

  .tema2top {
    text-align: center;
  }

  .tema2tekst h1 {
    font-family: "sonderregular";
    font-size: 60px;
    font-size: 130px;
    color: #b793ff;
    margin-bottom: 50px;
  }
  .tema2tekst p {
    font-family: "livvic";
    font-size: 40px;
    color: #b793ff;
    margin-bottom: 100px;
  }

  .tema2top a {
    text-decoration: none;
    font-family: "sonderregular";
    font-size: 40px;
    background-color: #b793ff;
    color: white;
    border-radius: 75px;
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 80px;
  }

  .tema2top a:hover {
    color: black;
  }

  .tema2billede img {
    width: 1000px;
    margin-top: 100px;
    border-radius: 100px;
    margin-bottom: 50px;
  }

  .html,
  .css {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .htmlheader {
    background-color: #d8ffd9;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .htmlheader h2 {
    font-family: "sonderregular";
    font-size: 100px;
    text-align: center;
  }

  .htmltekst {
    background-color: #d8ffd9;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .htmltekst p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .htmlbillede2 img {
    border-radius: 50px;
    width: 1000px;
  }

  .cssheader {
    background-color: #d8ffd9;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .cssheader h2 {
    font-family: "sonderregular";
    font-size: 100px;
    text-align: center;
  }

  .csstekst {
    background-color: #d8ffd9;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .csstekst p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .cssbillede img {
    width: 1000px;
    border-radius: 50px;
  }

  /*TEMA 3*/
  .tema3top {
    text-align: center;
  }

  .tema3tekst h1 {
    font-family: "sonderregular";
    font-size: 60px;
    font-size: 130px;
    color: #b793ff;
    margin-bottom: 50px;
  }
  .tema3tekst p {
    font-family: "livvic";
    font-size: 40px;
    color: #b793ff;
    margin-bottom: 100px;
  }

  .tema3top a {
    text-decoration: none;
    font-family: "sonderregular";
    font-size: 40px;
    background-color: #b793ff;
    color: white;
    border-radius: 75px;
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 80px;
  }

  .tema3top a:hover {
    color: black;
  }

  .tema3billede img {
    width: 1000px;
    margin-top: 100px;
    border-radius: 50px;
    margin-bottom: 50px;
  }

  .t3research,
  .t3kodning,
  .t3test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .t3header {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
    margin-top: 80px;
  }

  .t3header h2 {
    font-family: "sonderregular";
    font-size: 100px;
    text-align: center;
  }

  .researchtekst1,
  .researchtekst2,
  .researchtekst3,
  .reviewtekst,
  .processtekst,
  .takside,
  .kodetekst1,
  .kodetekst2,
  .kodetekst3,
  .testtekst1 {
    background-color: #ffd2f6;
    width: 900px;
    border-radius: 50px;
    padding: 50px;
  }

  .t3research img {
    border-radius: 50px;
    width: 1000px;
  }

  .t3research p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .t3kodning img {
    border-radius: 50px;
    width: 1000px;
  }

  .t3kodning p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .t3test img {
    border-radius: 50px;
    width: 1000px;
  }

  .t3test p {
    font-family: "livvic";
    font-size: 25px;
    line-height: 1.5;
  }

  .testknapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
  }

  .testknapper a {
    text-decoration: none;
    font-family: "sonderregular";
    font-size: 30px;
    background-color: #ffd2f6;
    color: black;
    border-radius: 75px;
    padding-top: 30px;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-left: 70px;
  }

  .testknapper a:hover {
    color: #b793ff;
  }

  /*TEMA 4*/

  /*FOOTER*/

  footer {
    background-color: #b793ff;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 150px;
    margin-top: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }

  .footermenu {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 200px;
  }

  footer a {
    text-decoration: none;
    color: white;
    font-family: "sonderregular";
    font-size: 30px;
    gap: 100px;
  }

  footer a:hover {
    color: black;
  }

  .somelinks {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}

@media (min-width: 1300px) {
  /*NAVIGATIONS MENU*/

  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 500px;
    justify-content: center;
    padding-top: 100px;
    min-width: 2800px;
  }

  li a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: "sonderregular";
    font-size: 35px;
  }

  a:hover {
    color: #b793ff;
  }

  /*FORSIDE*/

  .forsidetop {
    padding-left: 800px;
    padding-top: 430px;
  }

  .forsidetop h1 {
    font-family: "sonderregular";
    font-size: 220px;
    color: #b793ff;
    min-width: 2000px;
  }

  .forsidetop h2 {
    font-family: "sonderregular";
    font-size: 70px;
    color: #b793ff;
    padding-left: 800px;
    padding-top: 60px;
    min-width: 2000px;
  }

  /*PORTFOLIO*/

  .portfoliotema {
    text-align: center;
    padding-top: 130px;
  }

  .portfoliotema a {
    font-family: "sonderregular";
    font-size: 110px;
    color: #b793ff;
    text-decoration: none;
  }

  .portfoliotema a:hover {
    color: #ffd2f6;
  }

  .portfoliotema h2 {
    font-family: "livvic";
    font-size: 40px;
    color: #b793ff;
    padding-bottom: 85px;
  }
}
